/* *{
  box-sizing: border-box;
} */

/* .body{
  background-color: red;
} */

.registration{
  margin-top: 10%;
  margin-right:30%;
  margin-left:30%;
  padding-bottom:3%;
  /* padding-top:2.5%; */
  border: 2px solid black;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* /* background-color: whitesmoke; */ 
  position: relative;

}

.regis{
 text-align:center;
 /* width:100%; */
} 

.login{
  margin-top: 10%;
  margin-right:30%;
  margin-left:30%;
  padding-bottom:3%;
  /* padding-top:2.5%; */
  border: 2px solid black;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* /* background-color: whitesmoke; */ 
  position: relative;

}
/* .players{
  text-align: center;
} */
.dungeon{
  /* box-sizing: border-box; */
  text-align: left;
  /* margin-top: 5%; */
  /* margin-right:30%; */
  margin-left:25%;
  padding:5%;
  
  width: 20%;
  /* display: flex;
  justify-content: flex-start; */
  
}

.info{
  display:flex;
  flex-direction: column;
  border: 10px solid yellow;
  padding: 25px;
  border-radius: 10px;
  background-color: silver;

}
.player{
  box-sizing: border-box;
  display:flex;
  width:100%;
  flex-direction: column;
}

.btns{
  /* padding: 2%; */
  font-size: .6 rem;
  border: 2px solid orange;
  /* background-color: blue; */
  text-shadow: none;
  display: flex;
  background-color: yellow;
  width:90%;
  /* height:4%; */
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  
}
.btn{
  margin-right:2%;
  border-radius: 50%;
  text-align: center;
  margin-left:3%;
  background-color: teal;
  padding: 15px;
  font-weight: 500;
  font-size: 1rem;
  /* width:15%; */
  margin-right: 15px;
}
img{
width:20px;
height:20px;
}
.map-container{
  display: flex;
  /* background-color:blue; */
  max-width:500px;
  max-height:500px;
  margin-left: 10%;
  margin-top: 5%;
  /* border: 10px solid lightblue; */
  

}
.row-container{
 line-height: 0;
  height:20px;
}

#hero {
  position: absolute;
  left: 420px;
  top: 885px;
  z-index: 2;
}

.dash{
border: 5px solid red;
 height: 1500px;
 max-width: 100%;
 display:flex;
 background-color: black;
 
}

.title {
  color: white;
  /* font-size:2rem; */
  text-align: center;
}